.App {
  text-align: center;
  margin: 0%;
  padding: 0%;
  align-items: center;
  justify-content: center;
  position: relative;
  width: max-content;
  overflow: visible;
  font-family: 'PT Sans Narrow', sans-serif;
}

.margins-img {
  height: auto;
  width: 100%;
  size: cover;
  margin: 0%;
  padding: 0%;
  align-items: center;
  justify-content: center;
}
/* 
.App {
  margin: 0%;
  padding: 0%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font-family: 'Fredoka One', cursive;
  color: gray;
  position: relative;
  width: max-content;
  overflow: visible;
}

header {
  height: auto;
  width: auto;
  size: cover;
} */

.navbar {
    display: flex;
    flex-direction: row;
    text-align: center;
}

/* ************* PROFILE FORM ****************** */
label {
  font-size: xx-large;
  font-family: 'Pacifico', cursive;
}

h2, h4 {
  font-family: 'PT Sans Narrow', sans-serif;
}

.button {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 800;
  background-color:#6111ff; 
  border: 2px solid #6011ff56;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/* ************* DIARY ENTRY ****************** */

.diaryEntry-container {
  max-width: 1400px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.diaryEntry {
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  flex-basis: 30%;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  color: gray;
  background-image: url("./assets/mood_box.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-attachment: local; 
  background-position: center; 
}

@media (min-width: 900px) {
  .diaryEntry-container {
    display: flex;
    justify-content: space-between;
  }
}

.diaryEntry.zoom {
  padding-bottom: 150px;
  transition: transform .2s; 
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); 
}

/* ************* MOOD FORM ****************** */

textarea {
  border: 2px solid #6111ff;
  border-radius: 5px;
}

.mood-form {
  margin-bottom: 4em;
}



















/* **************PRESET****************
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
