/* body{
    text-align: center;
} */

div.mood-radio{
    display: flex;
    text-align: center;
    margin-bottom: 4em;
}

div.mood{
    display:flex;
    flex-direction: column;
    /* border-style: solid; */
    text-align: center;
}

label.mood-desc{
    font-size: 1em;
    font-family: 'PT Sans Narrow', sans-serif;
}

img{
    width: 60px;
}



/* li{
    text-align: center;
} */
  