/* body{
    text-align: center;
} */

div.mood-radio{
    display: flex;
    text-align: center;
}

div.mood{
    display:flex;
    flex-direction: column;
    border-style: solid;
    text-align: center;
}

label.mood-desc{
    font-size: 10px;
}

img{
    width: 60px;
}

ul {
    border-style: solid;
    /* list-style-type: none; */
    text-align: center;
}

/* li{
    text-align: center;
} */
  